@import "../../style/master.scss";

.input-wrapper {
    .label {
        @extend .text;
        margin-bottom: $spacing-quantum;

        &.invalid {
            color: $error-color;
        }
    }

    .input {
        padding: $spacing-quantum * 2;
        width: $block-width;

        font-family: $body-font;
        font-size: $body-font-size;

        border: none;
    }

    .input:focus {
        outline: none;
    }
}
