@import "src/style/master.scss";

.input {
  padding: $spacing-quantum * 2;
  width: $block-width;

  font-family: $body-font;
  font-size: $body-font-size;

  border: none;
}
.input:focus { outline: none; }
