@import "src/style/master";

$padding: $spacing-quantum * 4;

.modal {
    width: 50vw;
    height: 50vh;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -25vw;
    margin-top: -25vh;
    background-color: $background-color;
    border-radius: $spacing-quantum * 2;
}

.outer-modal {
    width: 100vw;
    height: 100vh;
    position: absolute;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.75);
}

.content-wrapper {
    height: calc(100% - #{padding} - 2em);
}

.content {
    position: absolute;
    display: inline-block;
    top: 50%;
    transform: translate(0, -50%);
}

.content.left {
    left: $padding;
}

.content.right {
    right: $padding;
}

.content.center {
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    position: absolute;
    left: 50%;
    top: $padding / 2;
    transform: translate(-50%, 0);
}

.footer {
    position: absolute;
    width: calc(100% - #{$padding} * 2);
    bottom: $padding;
    left: $padding;
}
