// Colors
$primary-color: #800000;
$primary-color-darken: darken($primary-color, 5%);
$primary-color-lighten: lighten($primary-color, 5%);
$body-text-color: white;
$pop-color: #0061d1;
$pop-color-darken: darken($pop-color, 5%);
$pop-color-lighten: lighten($pop-color, 5%);
$hide-color: #686868;
$hide-color-darken: darken($hide-color, 5%);
$hide-color-lighten: lighten($hide-color, 5%);

// Text
@import url('https://fonts.googleapis.com/css?family=Ubuntu');
$body-font: Ubuntu;

$body-font-size: 14px;

// Spacing
$spacing-quantum: 5px;

// Borders
$border-radius: 5px;

// General Selectors
body {
  background-color: #191919;
}
